{% extends 'recruiter/base.html' %}

{% block title %}
Recruiter Profile
{% endblock %}

{% block content %}

<div class="card p-4">

    <div class="row">

        <div class="col-md-3 text-center">

            <img src="https://via.placeholder.com/180"
                 class="rounded-circle img-fluid">

        </div>

        <div class="col-md-9">

            <h2>Recruiter Profile</h2>

            <hr>

            <table class="table">

                <tr>
                    <th>Name</th>
                    <td>Shivamani</td>
                </tr>

                <tr>
                    <th>Company</th>
                    <td>TalentSphere Pvt Ltd</td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>shivamani@gmail.com</td>
                </tr>

                <tr>
                    <th>Phone</th>
                    <td>+91 9876543210</td>
                </tr>

                <tr>
                    <th>Experience</th>
                    <td>3 Years</td>
                </tr>

            </table>

        </div>

    </div>

</div>

{% endblock %}